#cabecalho-psicologo {
    padding: 15px 0px 50px;
}
#li-suporte {
    background: linear-gradient(to right, #1C7BFF 0%, #00A5FF 100%) !important;
    border-radius: 5px;
    padding: 5px 10px;
}
.li-suporte-span1 {
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center !important;
}
.li-suporte-span2 {
    color: #ffffff !important;
    font-weight: normal !important;
    text-align: justify !important;
    font-size: 9pt;
}
#agendar-sessao {
    padding-top: 60px !important;
}
a.btn.btn-common.btn-cabecalho {
    border-radius: 30px !important;
}
#agendamento-perfil {
    text-align: center;
    color: #fff !important;
}
#agendamento-perfil h4 {
    color: #fff !important;
}
#agendamento-perfil-foto {
    border-radius: 50%;
    border: solid 4px #ffffff;
    box-shadow: 0px 0px 15px #cccccc;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}
#agendamento-perfil-tempo {
    font-size: 15pt;
    font-weight: bold;
}
#agendamento-perfil-tempo img {
    width: 25px;
    margin-top: -3px;
}
#agendamento-perfil-valor {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
#agendamento-perfil p {
    font-weight: bold !important;
    font-size: 16px !important;
}
#foto-perfil-cabecalho {
    border-radius: 50%;
    border: solid 4px #ffffff;
    box-shadow: 0px 0px 15px #cccccc;
    object-fit: cover;
    object-position: center;
}
.div-hora-nao-disponivel {
    font-weight: bold !important;
}
.btn-cabecalho {
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    background: linear-gradient(to right, #1C7BFF 0%, #00A5FF 100%) !important;
}
.btn-cabecalho:hover {
    background-color: #05affc !important;
    font-weight: bold;
}
#dados-psicologo-cabecalho p {
    font-size: 16px !important;
    font-weight: bold;
    margin-top: -12px;
}
#valor {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}
#valor b {
    color: #1C7BFF;
    font-size: 18pt;
    font-weight: 100;
}
#agendamento-perfil-valor b {
    font-weight: 500;
}
#img img {
    width: 23px;
    margin-top: -7px;
}
#descricao-cabecalho {
    margin-top: 35px;
    color: #000;
}
#div-formacao {
    font-weight: bold;
    font-size: 1.75rem;
    color: #585b60;
    text-align: left;
}
#text-formacao {
    margin-top: 35px;
    color: #000;
}
#img-security {
    width: 100% !important;
    max-width: 140px !important;
}
.footer-logo img {
    width: 100%;
    max-width: 280px;
}
#div-contato {
    text-align: left;
    background-color: #e9ecef;
    border-radius: 15px;
    color: #585b60;
}
#div-contato div {
    font-size: 12pt;
}
#div-contato h2 {
    font-size: 22px;
    margin: 15px 0px;
}
.cabecalho-psicologo {
    align-items: center;
}
#header-agendamento p {
    font-size: 12pt;
    margin: 15px 10px;
    color: #000;
    text-align: justify;
}
#header-agendamento h3 {
    text-align: center;
}
#datetimepicker12 {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 0px 20px 0px;
    max-width: 500px;
    min-width: 275px;
}
#datetimepicker12 td {
    height: 30px !important;
    font-weight: bold !important;
}
#nome-user, #email-user, .btn {
    border-radius: 3px;
}
#email-confirmacao {
    word-wrap: break-word !important;
}
.list-unstyled li {
    color: #1C7BFF !important;
}
.btn-facebook, .btn-google {
    width: 100% !important;
    margin: 6px 0px 6px 0px;
}
.bootstrap-datetimepicker-widget table th {
    height: 30px !important;
}
a.back-to-top i {
    background: linear-gradient(to right, #1C7BFF 0%, #00A5FF 100%) !important;
}
.wizard > .content {
    min-height: 31em !important;
}
.div-nome-email-agendamento {
    max-width: 350px !important;
    font-weight: bold !important;
    color: #fff !important;
}
#resumo-confirmacao {
    text-align: center !important;;
    color: #fff !important;
}
#div-texto-pagamento {
    color: #fff !important;
    text-align: center !important;
    font-size: 14pt !important;
}

@media (max-width: 576px) {
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 451px) and (max-width: 575px){
    #horarios-disponiveis {
        margin-left: unset !important;
        margin-right: unset !important;
    }
}
@media (min-width: 361px) and (max-width: 450px){
    #horarios-disponiveis {
        margin-left: -3% !important;
        margin-right: 2% !important;
    }
}
@media screen and (max-width: 360px){
    #horarios-disponiveis {
        margin-left: -5% !important;
        margin-right: 2% !important;
    }
}

@media screen and (max-width: 991px) {
    #div-foto-perfil-cabecalho, #agendamento-perfil-foto {
        text-align: center;
    }
    .wizard > .content {
        min-height: 59em !important;
    }
    #horarios-disponiveis {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media (min-width: 1200px) {
    #foto-perfil-cabecalho, #agendamento-perfil-foto {
        width: 185px;
        height: 185px;
    }
}


/*CSS RADIO HORÁRIO AGENDA*/
.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block !important;
    position: relative;
    background-color: #fff;
    color: #fff;
    top: 5px;
    height: 22px;
    width: 22px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
    border: solid 2px #00a3fc !important;
}
.form-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 7px;
    top: 2px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio:checked {
    background-color: #00a3fc;
}
.radio-horario {
    background-color: #fff;
    padding: 0px 5px;
    border-radius: 50px;
    margin: 5px 0px;
    width: 93px;
    height: 32px;
    font-weight: bold;
}
#div-horarios {
    color: #00a3fc !important;
}
/*CSS RADIO HORÁRIO AGENDA*/
