.passos-agendamento {
    background: none !important;
    box-shadow: none !important;
    padding: 0px 50px !important;
    text-align: center !important;
}
#btn-passsos-agendamento, #btn-mais-psicologos {
    text-align: center !important;
    padding: 50px !important;
}
#logo_rodape {
    width: 100% !important;
    max-width: 220px !important;
}
.btn-cadastro-login {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}