.btn-mais-detalhes {
    width: 100% !important;
    margin-top: 10px !important;
}
.img-list-perfil {
    border-radius: 50% !important;
    border: solid 4px #ffffff !important;
    box-shadow: 0px 0px 15px #cccccc !important;
    object-fit: cover !important;
    object-position: center !important;
    width: 140px !important;
    height: 140px !important;
}
#blog .blog-item-wrapper {
    border-radius: 30px;
}
#img-security {
    width: 100% !important;
    max-width: 200px !important;
}
#li-suporte {
    background: linear-gradient(to right, #1C7BFF 0%, #00A5FF 100%) !important;
    border-radius: 5px;
    padding: 5px 10px;
}
.li-suporte-span1 {
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center !important;
}
.li-suporte-span2 {
    color: #ffffff !important;
    font-weight: normal !important;
    text-align: justify !important;
    font-size: 9pt;
}
.spacing-img-list-perfil {
    text-align: center !important;
    padding: 1em 0em 1em 0em !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    background-image: url('../img/blog/background-img-perfil.png') !important;
    background-position-x: center !important;
    background-repeat: no-repeat !important;
    background-size: 101% 125px !important;
}
.spacing-img-list-perfil h6 {
    font-size: 1.75em !important;
    color: #3888d1 !important;
}
.spacing-text-list-perfil {
    padding: 0px 20px 30px !important;
    text-align: justify !important;
}
.spacing-text-list-perfil h3 {
    font-size: 0.9em !important;
    font-weight: normal !important;
    font-family: sans-serif !important;
}
.fa-star {
    color: gold !important;
}
#email-de-suporte {
    color: #fff !important;
}
div.blog-item-wrapper {
    height: 525px !important;
}
.spacing-descricao-list-perfil {
    height: 190px !important;
}
.div-img-list-psicologos {
    height: 140px !important;
}
#grid-list-psicologos-destaque {
    margin-top: -50px !important;
}
.btn-login {
    border-color: #fff !important;
    color: #fff !important;
    padding: 7px 20px !important;
    margin-left: 15px !important;
}
.testimonial-item .author .img-thumb img {
    width: 40% !important;
}
.testimonial-item .author .img-thumb {
    display: none !important;
}
#valor b {
    color: #1C7BFF !important;
    font-size: 12pt !important;
    font-weight: 100 !important;
}
#valor img {
    width: 16px !important;
    margin-top: -4px !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
}

@media (max-width: 410px) {
    .img-vantagens {
        width: 100% !important;
    }
    .testimonial-item {
        height: 545px !important;
    }
    .testimonial-item p {
        height: 345px !important;
    }
}
@media (max-width: 1200px) {
    .testimonial-item {
        height: 275px !important;
    }
    .testimonial-item p {
        height: 160px !important;
    }
}
@media (max-width: 769px) {
    .testimonial-item {
        height: 295px !important;
    }
    .testimonial-item p {
        height: 180px !important;
    }
}
@media (max-width: 505px) {
    .testimonial-item {
        height: 345px !important;
    }
    .testimonial-item p {
        height: 210px !important;
    }
}
@media (max-width: 420px) {
    .testimonial-item {
        height: 455px !important;
    }
    .testimonial-item p {
        height: 320px !important;
    }
}

